app.yaak.desktop
autostart
bin@
bindings@
blender
cef_user_data
CHANGELOG.md
chromium
'Code - OSS'
CurseForge
darktable
dconf
discord
dleyna-renderer-service.conf
docs@
dotfiles@
Electron
EOS-greeter.conf
eos-log-tool
eos-update-notifier.first_init
Epic
GIMP
.git
.gitattributes@
glib-2.0
tpm@gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
gtk-4.0
HOW_TO_PLUGIN.md
htop
ibus
JetBrains
kitty
Kitware
leaves.txt@
lib@
libreoffice
mimeapps.list
monitors.xml
monitors.xml~
nautilus
neofetch
nnn
OpenRGB
pavucontrol.ini
pulse
QtProject
QtProject.conf
reflector-simple-free-params.txt
scripts@
spotify
starship.toml@
systemds
tests
torbrowser
totem
tpm@
.travis.yml@
user-dirs.dirs
user-dirs.locale
VirtualBox
welcome.conf
whatsdesk
yay

